{{#if home}}
    <ul>
        <li>
            {{#myProjects}}
                <br />
                <a target="_blank" href="/projects/{{directory}}">{{name}}</a>
                <br />
                <img src="/{{directory}}/screenshot.png" />
            {{/myProjects}}
        </li>
    </ul>
{{/if}}
{{#if description}}
    {{#proj}}
        <a target="_blank" href="{{directory}}">{{name}}</a>
        <div id="large">
            <img src="/{{directory}}/screenshotLarge.png" />
        </div>
        <p>{{description}}</p>
    {{/proj}}
    {{#myProjects}}
        <a
            target="_blank"
            href="/projects/{{directory}}"
        >{{name}}</a>{{/myProjects}}
{{/if}}